<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Продукты</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <form th:action="@{/minmaxfilter}" method="get">
        <input th:name="minPrice" type="number" placeholder="Минимальная стоимость">
        <input th:name="maxPrice" type="number" placeholder="Максимальная стоимость">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>

    <h2>Продукты:</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Стоимость</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${products}">
            <td th:text="${prod.id}"/>
            <td th:text="${prod.title}"/>
            <td th:text="${prod.cost}"/>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="find?pageNumber=0">Previous</a></li>
            <li class="page-item"><a class="page-link" href="find?pageNumber=1">1</a></li>
            <li class="page-item"><a class="page-link" href="find?pageNumber=2">2</a></li>
            <li class="page-item"><a class="page-link" href="find?pageNumber=3">3</a></li>
            <li class="page-item"><a class="page-link" href="find?pageNumber=4">Next</a></li>
        </ul>
    </nav>

</div>

</body>
</html>